{% for (inputkey, props) in TF_INPUT_VARS.items() %}
variable {{ inputkey }} {
{% if props %}{% for (propkey, propvalue) in props.items() %}
  {{ propkey }} = {{ propvalue }}
{% endfor %} {% endif %}
}
{% endfor %}
